@keyframes moveFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .category-card {
    animation: moveFromTop 0.5s ease-in-out forwards;
  }
  