:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color:white;
  /* background-color: black; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url("C:\Users\1037814\FrontEnd Projects\ReactJS\Project\ecommerceapp\src\assets\bg.gif"); */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px;
  min-height: 100vh; */
  /* background-color: black; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.root{
  background: url("https://cdn.svgator.com/images/2023/05/cyber-monday-glitch-effect.svg");
}

.productList{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.productCard{
  position: relative;
  background-color: var(--color-grey-primary);
  margin: 1rem;
  flex: 1 0 25rem;
  max-width: 30rem;
  max-height: 50rem;
  transition: 0.2s;
}

.productCard:hover{
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.productImage{
  margin-top: 2rem;
  max-width: 100%;
  height: auto;
}

.productCard__cart{
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__wishlist{
  position: absolute;
  right: 3rem;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__fastSelling {
  position: absolute;
  font-size: 2rem;
  left: 0;
  margin: 1rem;
  fill: var(--color-orange-primary);
}

.productCard__content {
  margin: 2rem;
}

.productName{
  font-size: 1.5rem;
}

.displayStack__1,
.displayStack__2{
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productPrice{
  font-size: 1.5rem;
  font-weight: bold;
}

.productSales,
.productTime{
  font-size: 1.1rem;
}